ul {
    padding: 0;
  }
  
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 1.2rem;
  }
  
  .name {
    font-size: 1.2rem;
  }
  
  .website {
    font-size: 1rem;
  }
  
  .phone {
    font-size: 1rem;
  }
  
  .red-text {
    color: red;
  }
  
  .blue-text {
    color: blue;
  }
  
  .line-through {
    text-decoration: line-through;
  }